body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

li{
  list-style-type: none;
}

h1{
  color: black;
  display: flex;
  justify-content: center;
}

.bandas{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 0;
}

.detalleBandas{
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: bold;
  align-items: center;
}

.imagenesBandas{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 20px;
  list-style-type: none;
  margin: 0 auto;
}

.nombreBanda{
  display: flex;
  justify-content: center;
}

.footer{
  display: flex;
  justify-content: center;
}